<div class="main_form">
  <div class="header group">
    <h2>Edit Event</h2>
    <div class="modal_close">x</div>
  </div>
  <form method="post" id="update_listing" class="udpate_listing" action="/listings/{{id}}" accept-charset="UTF-8">
    <div style="margin:0;padding:0;display:inline">
      <input type="hidden" value="✓" name="utf8"><input name="authenticity_token" type="hidden" value="{{token}}">
    </div>
    
    <div class="required_info group">
      <div id="intention" class="intention_container">
        <div class="intention_selected">I am going to <div class="intention_triangle"></div></div>
        <ul class="intention_select">
          <li class="active">I am going to</li>
          <li>I am thinking about going to</li>
          <li>I would go, if somebody else does, to</li>
        </ul>
        <input type="hidden" id="listing_intention" name="listing[intention]" />
      </div>
      <input class="required" type="text" size="37" name="listing[listing_name]" id="listing_listing_name" placeholder="Event Name" value="{{name}}" />
      &nbsp;&nbsp;on&nbsp;&nbsp;
      <input type="text" class="required" size="30" id="listing_day" placeholder="Tuesday, December 18" value="{{day}}" />
      &nbsp;&nbsp;at&nbsp;&nbsp;
      <input type="text" class="short required" size="30" id="listing_time" placeholder="8:00 PM" value="{{time}}" />
      <input type="hidden" id="listing_date_and_time" name="listing[date_and_time]" />
      <div id="required_label">required</div>
    </div>
      
    <div class="form_group group">
      <div class="form_heading">location</div>
      <input type="text" size="30" id="listing_venue_name" name="listing[venue_name]" placeholder="Venue Name" value="{{venue_name}}" /> 
      <input type="text" size="30" id="listing_venue_address" name="listing[venue_address]" placeholder="Address" value="{{venue_address}}" />
      <input type="text" size="30" id="listing_venue_url" name="listing[venue_url]" placeholder="URL" value="{{venue_url}}"/>
    </div>
    
    <div class="form_group group">
      <div class="form_heading">event description</div>
      <textarea id="listing_event_description" name="listing[event_description]">{{description}}</textarea>
    </div>
    
    <div class="form_group group intention_fix">
      <div class="form_heading">tickets</div>
      <div id="ticket_option" class="intention_container">
        <div class="intention_selected">{{selected_text}}<div class="intention_triangle"></div></div>
        <ul class="intention_select">
          <li {{#if ticket_0}}class="active"{{/if}}>Tickets are on sale</li>
          <li {{#if ticket_1}}class="active"{{/if}}>Tickets will go on sale</li>
          <li {{#if ticket_2}}class="active"{{/if}}>It's free!</li>
          <li {{#if ticket_3}}class="active"{{/if}}>no ticket info</li>
        </ul>
        <input type="hidden" id="listing_ticket_option" name="listing[ticket_option]" />
      </div>
      <span class="not_free {{#if ticket_3}}hidden{{/if}}{{#if ticket_4}}hidden{{/if}}">
        <span class="future_sale {{#unless ticket_1}}hidden{{/unless}}">
          <input type="text" class="required" size="30" id="listing_sale_day" placeholder="Tuesday, December 18" value="{{sale_day}}" />
          &nbsp;&nbsp;at&nbsp;&nbsp;
          <input type="text" class="short required" size="30" id="listing_sale_time" placeholder="8:00 PM" value="{{sale_time}}" />
          <input type="hidden" id="listing_sale_date" name="listing[sale_date]" />
        </span>
        &nbsp;&nbsp;and I think they will&nbsp;
        <div id="sell_out" class="intention_container">
          <div class="intention_selected">{{sell_text}}
            <div class="intention_triangle"></div>
          </div>
          <ul class="intention_select">
            <li {{#if sell_0}}class="active"{{/if}}>sell out immediately</li>
            <li {{#if sell_1}}class="active"{{/if}}>sell out within a week</li>
            <li {{#if sell_2}}class="active"{{/if}}>sell out within a month</li>
            <li {{#if sell_3}}class="active"{{/if}}>not sell out</li>
            <li {{#if sell_4}}class="active"{{/if}}>they sold out</li>
          </ul>
          <input type="hidden" id="listing_sell_out" name="listing[sell_out]" />
        </div>.
        &nbsp;&nbsp;They cost&nbsp;&nbsp;
        <input type="text" class="required" size="30" class="short" name="listing[cost]" id="listing_cost" placeholder="$0" value="{{cost}}" />
        &nbsp;&nbsp;and you can get them at&nbsp;
        <input type="text" size="30" name="listing[ticket_url]" id="listing_ticket_url" placeholder="Ticket URL" value="{{ticket_url}}" />
      </span>
    </div>

    <div class="form_group group"><input type="submit" value="Create Event" name="commit"></div>
  </form>
</div>