<div class="main_form">
  <div class="header group">
    <h2>Edit Event</h2>
    <div class="modal_close">x</div>
  </div>
  <form method="post" id="update_listing" class="udpate_listing" action="/listings/{{id}}" accept-charset="UTF-8">
    <div style="margin:0;padding:0;display:inline">
      <input type="hidden" value="✓" name="utf8"><input name="authenticity_token" type="hidden" value="{{token}}">
    </div> 

    <div class="required_info group">
      <div id="intention" class="intention_container">
        <div class="intention_selected">{{intent_text}} <div class="intention_triangle"></div></div>
        <ul class="intention_select">
          <li {{#if intent_0}}class="active"{{/if}}>I am going to</li>
          <li {{#if intent_1}}class="active"{{/if}}>I am thinking about going to</li>
          <li {{#if intent_2}}class="active"{{/if}}>I would go, if somebody else does, to</li>
        </ul>
        <input type="hidden" id="listing_intention" name="listing[intention]" />
      </div>
      <div class="input_box">
        <div class="required input" contenteditable="true" name="listing[listing_name]" id="listing_listing_name" placeholder="Event Name">{{name}}</div>
      </div>
      <span>&nbsp;on&nbsp;</span>
      <div class="input_box">
        <div contenteditable="true" class="required input" id="listing_day">{{day}}</div>
      </div>
      <span>&nbsp;at&nbsp;</span>
      <div class="input_box">
        <div contenteditable="true" class="short required input" id="listing_time">{{time}}</div>
      </div>
      <span>.</span>
      <input type="hidden" class="input" id="listing_date_and_time" name="listing[date_and_time]" />
      <div id="required_label">required</div>
    </div>

    <div class="additional_info">
      
    <div class="form_group group">
      <div class="icon_hold">
        <i class="icon-map-marker"></i>
      </div>
      <div class="input_box">
        <div contenteditable="true" class="input" id="listing_venue_name">{{venue_name}}</div>
      </div>
      <div class="input_box">
        <div contenteditable="true" class="input" id="listing_venue_address">{{venue_address}}</div>
      </div>
      <div class="input_box">
        <div contenteditable="true" class="input" id="listing_venue_url">{{venue_url}}</div>
      </div>
      <div id="map_area"></div>
      <div id="map_option">Remove Map</div>
    </div>
    
    <div class="form_group group">
      <div class="icon_hold">
        <i class="icon-money"></i>
      </div>
      <div id="ticket_option" class="intention_container">
        <div class="intention_selected">{{selected_text}}<div class="intention_triangle"></div></div>
        <ul class="intention_select">
          <li {{#if ticket_0}}class="active"{{/if}}>Tickets are on sale</li>
          <li {{#if ticket_1}}class="active"{{/if}}>Tickets will go on sale</li>
          <li {{#if ticket_2}}class="active"{{/if}}>It's free!</li>
          <li {{#if ticket_3}}class="active"{{/if}}>no ticket info</li>
        </ul>
        <input type="hidden" id="listing_ticket_option" name="listing[ticket_option]" />
      </div>
      <span class="not_free {{#if ticket_2}}hidden{{/if}}{{#if ticket_3}}hidden{{/if}}{{#if ticket_4}}hidden{{/if}}">
        <span class="future_sale {{#unless ticket_1}}hidden{{/unless}}">
          <div class="input_box">
            <div id="listing_sale_day" class="input" contenteditable="true">{{sale_day}}</div>
          </div>
          &nbsp;at&nbsp;
          <div class="input_box">
            <div id="listing_sale_time" class="input" contenteditable="true">{{sale_time}}</div>
          </div>
          <input type="hidden" id="listing_sale_date" name="listing[sale_date]" />
        </span>
        &nbsp;and I think they will&nbsp;
        <div id="sell_out" class="intention_container">
          <div class="intention_selected">{{sell_text}}
            <div class="intention_triangle"></div>
          </div>
          <ul class="intention_select">
            <li {{#if sell_0}}class="active"{{/if}}>sell out immediately</li>
            <li {{#if sell_1}}class="active"{{/if}}>sell out within a week</li>
            <li {{#if sell_2}}class="active"{{/if}}>sell out within a month</li>
            <li {{#if sell_3}}class="active"{{/if}}>not sell out</li>
            <li {{#if sell_4}}class="active"{{/if}}>they sold out</li>
          </ul>
          <input type="hidden" id="listing_sell_out" name="listing[sell_out]" />
        </div>.
        &nbsp;They cost&nbsp;
        <div class="input_box">
          <div id="listing_cost" class="input" contenteditable="true">{{cost}}</div>
        </div>
        &nbsp;and you can get them at&nbsp;
        <div class="input_box">
          <div id="listing_ticket_url" class="input" contenteditable="true">{{ticket_url}}</div>
        </div>.
      </span>
    </div>

    <div class="form_group group">
      <div class="icon_hold">
        <i class="icon-align-left"></i>
      </div>
      <div class="input_box">
        <div contenteditable="true" class="input" id="listing_event_description">{{description}}</div>
      </div>
    </div>

    </div>

    <div class="form_group group"><input type="submit" value="update" name="commit"></div>
  </form>
</div>