<div class="date">
  <div class="day"><span class="day_name">{{day}}</span> <strong>{{date}}th</strong></div>
  <div class="time">{{time}}</div>
</div>
<div class="main">
  {{dates}}
  <div class="name">{{name}}</div>
  <a href="#">{{email}}</a> is going.
</div>
<div class="ticket_line"></div>
<div class="ticket">
  <div class="ticket_end left"></div>
    <div class="sale_date">5/22</div>
    <div class="ticket_price">$20</div>
  <div class="ticket_end right"></div>
</div>