<div class="listing_body">
  <div class="date">
    <div class="day"><span class="day_wrapper"><span class="day_name">{{day}}</span> <strong>{{date}}</strong></span></div>
    <div class="time">{{time}}</div>
  </div>
  <div class="main">
    {{dates}}
    <div class="name">{{name}}<div class="expand"><div class="expand_hor"></div></div></div>
    <div class="going">
      {{{intentions}}}
    </div>
    <div class="main_bottom_container">
      <div class="main_bottom">
        <div class="main_supplement group">
          {{#if venue_name}}        
            <div class="location">
              At{{#if venue_name}}&nbsp;{{#if venue_url}}<a href="{{venue_url}}" target="_blank">{{/if}}{{venue_name}}{{#if venue_url}}</a>{{/if}}{{/if}}{{#if venue_name}}{{#if venue_address}},{{else}}.{{/if}}{{/if}}{{#if venue_address}}&nbsp;{{#if venue_map}}<span class="map_link">{{/if}}{{venue_address}}{{#if venue_map}}</span>{{/if}}.{{/if}}
              {{#if venue_map}}<div class="listing_map"></div>{{/if}}
            </div>
          {{/if}}
          {{#if description}}
            <div class="description">
              {{description}}
            </div>
          {{/if}}
        </div>
        <div class="actions group">
          <div class="left">
            {{#if user_listing}}
              <a class="edit" href="#">edit</a>
              <a class="delete" href="#">delete</a>
            {{else}}
              <div class="intent_option">
                {{#if intented}}
                  <a class="intenter" href="#">{{{user_intent}}}</a><div class="intent_triangle"></div>
                  <ul class="go_options">
                    <li {{#if intention_1}}class="active"{{/if}}>I am going</li>
                    <li {{#if intention_2}}class="active"{{/if}}>I am thinking about going</li>
                    <li {{#if intention_3}}class="active"{{/if}}>I would go if somebody else does</li>
                    <li>I'm not</li>
                  </ul>
                {{else}}
                  <a class="intenter" href="#">want to go?</a><div class="intent_triangle"></div>
                  {{#if current_user}}
                    <ul class="go_options">
                      <li>I am going</li>
                      <li>I am thinking about going</li>
                      <li>I would go if somebody else does</li>
                    </ul>
                  {{else}}
                    <ul class="go_options signed_out">
                      <li class="facebook_sign">sign in with facebook</li>
                      <li class="twitter_sign">sign in with twitter</li>
                    </ul>
                  {{/if}}
                {{/if}}
              </div>
            {{/if}}
            {{#if no_comments}}<a class="comment_show" href="#">comment</a>{{/if}}
          </div>
          <div class="right">
            <div class="share_option">
              <a href="#" class="share">share</a><div class="intent_triangle"></div>
              {{#if current_user}}
                <ul class="share_options">
                  {{#if fb_connected}}
                    <li class="share_facebook">to facebook</li>
                  {{else}}
                    <li class="share_facebook not_connected">connect to facebook</li>
                  {{/if}}
                  {{#if tw_connected}}
                    <li class="share_twitter">to twitter</li>
                  {{else}}
                    <li class="share_twitter not_connected">connect to twitter</li>
                  {{/if}}
                  <li>permalink</li>
                </ul>
              {{else}}
                <ul class="share_options">
                  <li class="share_facebook not_connected">sign in with facebook</li>
                  <li class="share_twitter not_connected">sign in with twitter</li>
                  <li>permalink</li>
                </ul>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="share_container"></div>
        <div class="comment_container {{#unless no_comments}}show{{/unless}}"></div>
      </div>
    </div>
    {{#if ticket_display}}
      <div class="ticket {{urgency}}">
        {{#if ticket_url}}<a href="{{ticket_url}}">{{/if}}
          <div class="ticket_end left"></div>
            {{#if free}}
              <div class="sale_date">FREE</div>
            {{else}}
              {{#if sale_date}}
                <div class="sale_date">{{listing_month}}/{{listing_day}}</div>
              {{/if}}
              {{#if cost}}
                <div class="ticket_price">{{cost}}</div>
              {{/if}}
            {{/if}}
          <div class="ticket_end right"></div>
        {{#if ticket_url}}</a>{{/if}}
        <div class="ticket_tip">Tickets {{#if sale_date}}go on sale <strong>{{tip_date}}</strong>{{else}}<strong>are on sale</strong>{{/if}}. {{username}} thinks they will <strong>sell out {{urgency_tip}}</strong>.</div>
      </div>
    {{/if}}
  </div>
</div>
<div class="bottom_dot"></div>