<div class="date">
  <div class="day"><span class="day_name">{{day}}</span> <strong>{{date}}th</strong></div>
  <div class="time">{{time}}</div>
</div>
<div class="main">
  {{dates}}
  <div class="name">{{name}}</div>
  <div class="going">
    <a href="{{user_id}}">{{username}}</a> is going.
  </div>
  <div class="main_bottom_container">
    <div class="main_bottom">
      <div class="main_supplement">
        {{#if venue_name}}        
          <div class="location">
            At {{#if venue_url}}<a href="{{venue_url}}">{{/if}}{{venue_name}}{{#if venue_url}}</a>{{/if}}, 
            {{venue_address}}
          </div>
        {{/if}}
        <div class="description">
          {{description}}
        </div>
      </div>
      <div class="actions group">
        <div class="left">
          <a class="intenter" href="#">want to go?</a>
          <a href="#">comment</a>
        </div>
        <div class="right hidden">
          <a class="share">twitter</a>
          <a class="share">tumblr</a>
          <a class="share">facebook</a>
        </div>
      </div>
    </div>
  </div>
  {{#if ticket_display}}
    <div class="ticket {{urgency}}">
      {{#if ticket_url}}<a href="{{ticket_url}}">{{/if}}
        <div class="ticket_end left"></div>
          {{#if free}}
            <div class="sale_date">FREE</div>
          {{else}}
            {{#if listing_month}}
              <div class="sale_date">{{listing_month}}/{{listing_day}}</div>
            {{/if}}
            {{#if cost}}
              <div class="ticket_price">{{cost}}</div>
            {{/if}}
          {{/if}}
        <div class="ticket_end right"></div>
      {{#if ticket_url}}</a>{{/if}}
      <div class="ticket_tip">Tickets go on sale on March 1st and Grant thinks they will sell out more than a month from now.</div>
    </div>
  {{/if}}
  <div class="expand">
    <div class="expand_hor"></div>
    <div class="expand_ver"></div>
  </div>
</div>
<div class="bottom_dot"></div>