<div class="user_container">
  <div class="username">{{name}}</div>
  {{#if current_user}}
    <div class="follow edit">
      <div class="follow_hor"></div>
      <div class="follow_ver"></div>
      <div class="follow_text">edit</div>
    </div>    
  {{else}}
    {{#if followed}}
      <div class="follow un">
        <div class="follow_hor"></div>
        <div class="follow_ver"></div>
        <div class="follow_text">unfollow</div>
      </div>
    {{else}}
      <div class="follow">
        <div class="follow_hor"></div>
        <div class="follow_ver"></div>
        <div class="follow_text">follow</div>
      </div>
    {{/if}}
  {{/if}}
</div>
<div class="user_image"><img src="{{image}}" /></div>
{{#if description}}<div class="user_description">{{description}}</div>{{/if}}