<div class="main_form">
  <div class="header group">
    <h2>Your Profile</h2>
    <div class="modal_close">x</div>
  </div>
  <form method="put" id="user_new" class="user_new" action="/users/{{current_user_id}}" accept-charset="UTF-8"><input type="hidden" value="✓" name="utf8"><input name="authenticity_token" type="hidden" value="{{token}}">

    <div class="form_group group">
      <input type="text" placeholder="name" size="30" name="user[username]" id="user_username" value="{{name}}">
    </div>

    <div class="form_group group">
      <input type="email" placeholder="email" value="{{email}}" size="30" name="user[email]" id="user_email">
    </div>
    
    <div class="form_group group">
      <div class="form_heading">image</div>
      <img src="{{imageURL}}" />
    </div>

    <div class="form_group group">
      <div class="form_heading">description</div>
      <textarea size="30" name="user[description]" id="user_description">{{description}}</textarea>
    </div>
    
    <div class="form_group group intention_fix">
      <div class="form_heading">connected <span style="color: #777;">(connecting will take you away from this page)</span></div>
<!--       <div class="new_share facebook {{#if fb_connect}}share_it{{/if}}">facebook</div> -->
      <div class="new_share twitter {{#if tw_connect}}share_it{{/if}}">twitter</div>
    </div>
    
    <div class="form_group group">
      <input type="submit" class="not_ready" value="update" name="commit">
    </div>
  </form>
</div>