<div class="main_form">
  <div class="header group">
    <h2>New User</h2>
    <div class="modal_close">&times;</div>
  </div>
  <form method="post" id="user_new" class="user_new" action="/users" accept-charset="UTF-8"><input type="hidden" value="✓" name="utf8"><input name="authenticity_token" type="hidden" value="{{token}}">
    <div class="email_alert group">
      Almost there! We just need your email.
    </div>
    
    <div class="form_group group">
      <div class="input_box">
        <div class="input" contenteditable="true" id="user_username">{{name}}</div>
      </div>
    </div>

    <div class="form_group group">
      <div class="input_box">
        <div class="input" contenteditable="true" id="user_email">{{email}}</div>
      </div>
    </div>
    
    <div class="form_group group">
      <div class="form_heading">image</div>
      <img src="{{imageURL}}" />
    </div>

    <div class="form_group group">
      <div class="form_heading">description</div>
      <div class="input_box">
        <div contenteditable="true" class="input" id="user_description">{{description}}</div>
      </div>
    </div>
    
    <div class="form_group group">
      <input type="submit" class="not_ready" value="create" name="commit"><div class="error_msg">email is required</div>
    </div>
  </form>
</div>