<!DOCTYPE html>
<html>
<head>
  <title>Going.im</title>
  <script type='text/javascript'>
    var oApp = {};
    <% if current_user %>
      oApp.currentUser = <%= current_user.to_json({ :include_private => true }).html_safe %>;
    <% else %>
      oApp.currentUser = false
    <% end %>
  </script>
  <script type ="text/javascript">
    preloaded_data = <%= @data.to_json.html_safe %>
  </script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD-9lXYCHkWBjznD26TxjtKrNNy8pNGCz8&sensor=false" ></script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://use.typekit.com/rpj4ngm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div id="bar_back"></div>
  <div id="wrapper" class="group">
    <section id="main_column" class="group">
      <div class="listing_top"></div>
      <div id="main_inner">
        <%= yield %>
      </div>
      <div id="date_bar"></div>
    </section>
    <section id="side_column">
      <div class="sort_container"></div>
      <div class="side_container">
      </div>
      <div class="side_content">
      </div>
      <div class="side_create">
      </div>
    </section>
    <section id="panel_container"></div>
  </div>
</body>
</html>